<!DOCTYPE html>
<html lang="en">
<head>
  <title>Teste</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <style>

    .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }


    footer {
      background-color: #f2f2f2;
      padding: 25px;
    }
  </style>
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Portfólio</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <li> <a href="/createForm">Inserir Na tabela</a></li>
        <li><a href="/updateForm">Atualizar</a></li>
        <li> <a href="/deleteForm">Apagar</a></li>
          <li>  <a href="/listjsonForm">Mostrar json</a></li>
        <li> <a href="/listForm">Mostrar dados</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Entrar</a></li>
      </ul>
    </div>
  </div>
</nav>

    <center>
       <h1><font color="red">Apaga por ip</font></h1>
     <form action="\deleteid" method="post">
     <h3>Digite o id:<input type="text" name="upid"></h3>
     <input type="submit" value="submit">
     <input type="reset" value="Reset">
     </form>
    </body>
</html>